<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      회생스토리
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin"  style="margin-top: 0px;"
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">회생스토리</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Revival Story</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장<span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span>은</p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>
  <h4 style="text-align: center; margin-bottom: 0px;">회생스토리</h4>
  <p style="text-align: center; margin-top: 0px;">REVIVAL STORY</p>

  <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
    <ion-row>
      <ion-col size="6" *ngFor="let story of stories" style="padding-left: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;">
        <ion-card class="card-margin" (click)="openDetailStory(story)">
          <div align="center">
            <img [src]="story.bf_file">
            <p class="text">{{story.subject}}</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
