<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      특별한 백양
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin" style="margin-top: 0px;" 
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">특별한 백양</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">SPECIAL BAEKYANG</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장 <span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span></p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>

  <div class="spacer" style="height: 10px;"></div>
  <h4 style="text-align: center; margin-bottom: 0px;">백양법무사 김형백사무소의</h4>
  <h4 style="text-align: center; margin-top: 0px;">특별한 이유 <span style="color:#FF5733;">4가지</span></h4>
  <!--
  <ion-item-group>
    <ion-item-divider color="dark">
      <ion-label><p><span style="font-size: 14pt;">특별한 이유 4가지</span></p></ion-label>
    </ion-item-divider>
  </ion-item-group>
  -->
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let special of specials">
      <ion-card class="card-margin" [color]="special.color">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="special.img">
          </ion-avatar>
          <ion-label  text-wrap>
            <p class="subtitle">{{special.title}}</p>
            <p class="text">{{special.subtitle}}</p>
          </ion-label>
        </ion-item>
        <ion-card-content style="height: 160px; text-align: left;">
          {{special.description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div class="spacer" style="height: 5px;"></div>
  <ion-item-group>
    <ion-item-divider color="dark">
      <ion-label><p><span style="font-size: 14pt;">희망케어시스템의 목표 및 비전</span></p></ion-label>
    </ion-item-divider>
    <div *ngFor="let vision of visions">
      <ion-card class="card-margin" [color]="vision.color">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img [src]="vision.img">
          </ion-avatar>
          <ion-label  text-wrap>
            <p class="subtitle">{{vision.title}}</p>
          </ion-label>
        </ion-item>
        <ion-card-content style="height: 100px; text-align: left;">
          {{vision.description1}}<br>{{vision.description2}}<br>{{vision.description3}}
        </ion-card-content>
      </ion-card>
    </div>
    <ion-card class="card-margin" color="dark">
      <ion-item (click)="openCareStep()">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
        <ion-label>희망케어서비스</ion-label>
      </ion-item>
    </ion-card>
  </ion-item-group>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
