<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      예상 변제금 계산기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin"  style="margin-top: 0px;"
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">변제금 계산기</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Repayment Calculator</p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating">월 평균소득</ion-label>
            <ion-input type="text" autofocus clearInput [(ngModel)]="avg_monthly_salary_formatted" (ionChange)="onChangeSalary($event.target.value)"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label color="primary" position="floating">예상 변제금(월)</ion-label>
            <ion-input [(ngModel)]="exp_monthly_payment" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating">신용 채무 총액</ion-label>
            <!-- <ion-input [(ngModel)]="total_debt" clearInput></ion-input> -->
            <ion-input type="text" clearInput [(ngModel)]="total_debt_formatted" (ionChange)="onChangeDebt($event.target.value)"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label color="primary" position="floating">변제 개월수</ion-label>
            <ion-input [(ngModel)]="payment_months" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating">부양 가족수</ion-label>
            <!-- <ion-input [(ngModel)]="dependents_number" clearInput></ion-input> -->
            <ion-input type="text" clearInput [(ngModel)]="dependents_number_formatted" (ionChange)="onChangeDependents($event.target.value)"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label color="primary" position="floating">총 변제금</ion-label>
            <ion-input [(ngModel)]="total_payment" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating">재 산</ion-label>
            <ion-input type="text" clearInput [(ngModel)]="property_formatted" 
                                   (ionChange)="onChangeProperty($event.target.value)"
                                   (ionFocus)="onFocusProperty($event)"></ion-input>
          </ion-item>
        </div>
      </ion-col>
      <ion-col style="padding-bottom: 5px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label color="primary" position="floating">원금 탕감액</ion-label>
            <ion-input [(ngModel)]="exempt_money" readonly></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button  style="padding-left: 10px; padding-right: 10px;" expand="block" (click)="DoCalculator()">계산하기</ion-button>
  <p style="text-align: center;"><span style="font-size: 12pt;">{{message}}</span></p>
  <div class="spacer" style="height: 10px;"></div>
  <div style="padding-left: 10px; padding-right: 10px;">
    <p style="text-align: center; margin-bottom: 0px;">예상변제금계산기는 참고사항일 뿐이므로 자세한 예상 변제금은 반드시
      <span style="color:#0099ff; font-size: 12pt;">백양과 상의</span>바랍니다. 
      <span style="color:#FF5733; font-size: 12pt;">예상 변제금 계산으로 인한 손해는 모두 본인에게 있음</span>을 알려드립니다.</p>
  </div>
  <div class="spacer" style="height: 10px;"></div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>