<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      성공사례
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin"  style="margin-top: 0px;"
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">성공사례</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Succession Case</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장 <span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span></p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>

  <div class="spacer" style="height: 10px;"></div>
  <h4 style="text-align: center; margin-bottom: 0px;">성공사례</h4>
  <p style="text-align: center; margin-top: 0px;">SUCCESSION CASE</p>

  <ion-list style="margin-bottom: 5px;">
    <ion-item color="medium" lines="none">
      <ion-label>법원</ion-label>
      <ion-select [(ngModel)]="court" placeholder="전체" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedCourt($event)">
        <ion-select-option *ngFor="let c of courts" [value]="c.value">{{c.label}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div class="spacer" style="height: 3px;"></div>
    <ion-item color="medium" lines="none">
      <ion-label>사건종류</ion-label>
      <ion-select [(ngModel)]="decision" placeholder="전체" class="select-item" cancelText="취소" okText="선택" (ionChange)="selecteddecision($event)">
        <ion-select-option *ngFor="let d of decisions" [value]="d.value">{{d.label}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="spacer" style="height: 5px;"></div>
  <ion-list *ngFor="let sc of successCases" style="margin-bottom: 10px;">
    <ion-item button (click)="openSuccessStory(sc)">
      <ion-avatar slot="start">
        <img src="../../assets/image/noUserImg.png">
      </ion-avatar>
      <ion-label>
        <h2 style="color: #FF5733;">{{sc.decision}}</h2>
        <h3>{{sc.subject}}</h3>
        <p>관할법원: {{sc.court}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-infinite-scroll  threshold="100px" *ngIf="doInfiniteFlag" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
