<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>고객후기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin"  style="margin-top: 0px;"
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">커뮤니티</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Community</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장 <span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span></p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>

  <div class="spacer" style="height: 5px;"></div>
  <h4 style="text-align: center; margin-bottom: 0px;">고객 후기</h4>
  <p style="text-align: center; margin-top: 0px;">REVIEW</p>

  <ion-toolbar>
    <ion-segment [(ngModel)]="category" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let category of categories" value={{category.value}}>
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <div class="spacer" style="height: 5px;"></div>
  <ion-list *ngFor="let n of notices" style="margin-bottom: 10px;">
    <ion-item button (click)="popupAlert(n)">
      <ion-avatar slot="start">
        <img src="../../assets/image/baekyang.png">
      </ion-avatar>
      <ion-label>
        <h2 style="color: #FF5733;">공지사항</h2>
        <h3>{{n.subject}}</h3>
        <p>작성자: {{n.name}}&nbsp;&nbsp;&nbsp;{{n.date}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let e of epilogues" style="margin-bottom: 10px;">
    <ion-item button (click)="popupAlert(e)">
      <ion-avatar slot="start">
        <img *ngIf="e.name != '백양'" src="../../assets/image/noUserImg.png">
        <img *ngIf="e.name == '백양'" src="../../assets/image/baekyang.png">
      </ion-avatar>
      <ion-label>
        <h2 *ngIf="e.name != '백양'" style="color: #2ECC71;">{{e.ca_name}}</h2>
        <h3>{{e.subject}}</h3>
        <p>작성자: {{e.name}}&nbsp;&nbsp;&nbsp;{{e.date}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--
  <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 5px; padding-right: 5px;">
    <ion-row color="medium">
      <ion-col size="1" class="col-1821h">
        <p align="center" class="col-1821p">번호</p>
      </ion-col>
      <ion-col size="8" class="col-1821h">
        <p align="center" class="col-1821p">제목</p>
      </ion-col>
      <ion-col size="1" class="col-1821h">
        <p align="center" class="col-1821p">작성</p>
      </ion-col>
      <ion-col size="2" class="col-1821h">
        <p align="center" class="col-1821p">날짜</p>
      </ion-col>
    </ion-row>
    <ion-row color="medium" *ngFor="let n of notices" (click)="popupAlert(n)">
      <ion-col size="1" class="col-1821">
        <p align="center" class="col-1821p">{{n.id}}</p>
      </ion-col>
      <ion-col size="8" class="col-1821">
        <p align="left" class="col-1821p" style="padding-left: 2px;">{{n.subject}}</p>
      </ion-col>
      <ion-col size="1" class="col-1821">
        <p align="center" class="col-1821p">{{n.name}}</p>
      </ion-col>
      <ion-col size="2" class="col-1821">
        <p align="center" class="col-1821p">{{n.date}}</p>
      </ion-col>
    </ion-row>
    <ion-row color="medium" *ngFor="let e of epilogues" (click)="popupAlert(e)">
      <ion-col size="1" class="col-1821">
        <p align="center" class="col-1821p">{{e.id}}</p>
      </ion-col>
      <ion-col size="8" class="col-1821">
        <p align="left" class="col-1821p" style="padding-left: 2px;">{{e.subject}}</p>
      </ion-col>
      <ion-col size="1" class="col-1821">
        <p align="center" class="col-1821p">{{e.name}}</p>
      </ion-col>
      <ion-col size="2" class="col-1821">
        <p align="center" class="col-1821p">{{e.date}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-infinite-scroll  threshold="100px" *ngIf="doInfiniteFlag" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
