.card-margin {
    margin-left: 5px; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    .text-centered {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    font-size: 17px;
}
.text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.col-1821h {
    border: 1px solid #BCAAA4;
    background-color: #D7CCC8;
    border-radius: 3px;
    font-size:small; 
    padding-left: 0px;
    padding-right: 0px;
}

.col-1821 {
    border: 1px solid #D7CCC8;
    font-size:small; 
    padding-left: 0px;
    padding-right: 0px;
}

.col-1821p {
    margin-top:0px; 
    margin-bottom:0px;
}