.card-margin {
    margin-left: 5px; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    .text-centered {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    font-size: 17px;
}
.text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.outline-box {
    background-color: #ffffff;
    border: 1px solid #784212;
    border-radius:3px;
    .outline-item {
        padding-left: 5px;
        .select-item {
            max-width: 100%;
        }
    }
}