<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>고객후기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="card-margin" [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                                        'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 80px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">고객후기</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Customer reviews</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장 <span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span></p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>

  <div class="spacer" style="height: 5px;"></div>
  <h4 style="text-align: center; margin-bottom: 0px;">고객후기등록</h4>
  <p style="text-align: center; margin-top: 0px;">CREATE REVIEW</p>

  <div>
    <ion-row>
      <ion-col size="12" style="padding-top: 0px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating" style="color:#784212">작성자</ion-label>
            <ion-input type="text" autofocus [(ngModel)]="name"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" style="padding-top: 0px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item">
            <ion-label position="floating" style="color:#784212">비밀번호</ion-label>
            <ion-input type="password" [(ngModel)]="password" placeholder="비밀번호(영문,숫자조합 6~15자리)"></ion-input>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="padding-top: 0px;">
        <div class="outline-box">
          <ion-item lines="none" class="outline-item outline-button">
            <ion-label style="color:#784212">분류 </ion-label>
            <ion-select [(ngModel)]="ca_name" placeholder="선택하세요" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedCaname($event)">
              <ion-select-option *ngFor="let cn of ca_names" [value]="cn.value">{{cn.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <div class="outline-box" style="margin-left: 5px; margin-right: 5px;">
      <ion-item lines="none" class="outline-item">
        <ion-label position="floating" style="color:#784212">제목</ion-label>
        <ion-input type="text" [(ngModel)]="subject"></ion-input>
      </ion-item>
    </div>
    <div class="outline-box" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
      <ion-item lines="none" class="outline-item">
        <ion-label position="floating" style="color:#784212">내용</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="content" type="text" clearInput></ion-textarea>
      </ion-item>
    </div>
  
    <div class="spacer" style="height: 10px;"></div>
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-button expand="block" fill="outline" (click)="cancel()">
              <ion-icon name="close" slot="start"></ion-icon>
            취소
          </ion-button>
        </div>
      </ion-col>
      <ion-col size="6">
        <div>
          <ion-button expand="block" (click)="submit()">
              <ion-icon name="checkmark" slot="start"></ion-icon>
            작성완료
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
