.card-margin {
    margin-left: 5px; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    .text-centered {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    font-size: 17px;
}
.text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.col-5h20 {
    border: 1px solid #BCAAA4; 
    background-color: #D7CCC8;
}
.col-h20 { 
    //height: 20px; 
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.col-5h60 {
    border: 1px solid #BCAAA4;
}
.col-h60 {
    // height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: small;
}
