<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      회생 가이드
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin"  style="margin-top: 0px;"
      [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                  'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 75px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">회생가이드</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">GUIDE</p>
    </div>
  </div>
  <ion-toolbar>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button *ngFor="let category of categories" value={{category.value}}>
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  <div [ngSwitch]="category">
    <div *ngSwitchCase="'process'">
      <p style="text-align: center; margin-bottom: 0px;"><span style="color:#0099ff; font-size: 12pt;">17년의 다양한 경험과 노하우를 가진 백양</span>은</p>
      <p style="text-align: center; margin-top: 0px;">개인회생 전문팀과 함께 회생가이드를 제공해 드립니다.</p>
      <h4 style="text-align: center; margin-bottom: 0px;">단계별 회생절차</h4>
      <p style="text-align: center; margin-top: 0px;">PROCESS</p>
      <ion-grid>
        <div *ngFor="let process of processes">
          <ion-row *ngIf="process.lt != null">
            <ion-col size="5" offset="1" class="col-5h20">
              <p class="col-h20">{{process.lt}}</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="process.lt != null">
            <ion-col size="5" offset="1" align-self-end class="col-5h60">
              <p class="col-h60">{{process.ld1}}</p><p *ngIf="process.ld2 != null" class="col-h60">{{process.ld2}}</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="process.rt != null">
            <ion-col size="5" offset="6" class="col-5h20">
              <p class="col-h20">{{process.rt}}</p>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="process.rt != null">
            <ion-col size="5" offset="6" align-self-end class="col-5h60">
              <p class="col-h60">{{process.rd1}}</p><p *ngIf="process.rd2 != null" class="col-h60">{{process.rd2}}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'tip'">
      <ion-searchbar animated [(ngModel)]="queryText" color="medium" (ionChange)="searchTips()" placeholder="Search"></ion-searchbar>
      <ion-list padding no-lines *ngFor="let t of tips; let i = index" style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px; margin-bottom: 5px;">
        <ion-item style="padding-left: 0px;" (click)="selectedTip(t.subject, i)">
          <ion-chip>
            <ion-avatar>
              <img src="../../assets/image/help-icon.png">
            </ion-avatar>
            <ion-label>{{t.subject}}</ion-label>
          </ion-chip>
        </ion-item>
        <div *ngIf="selectFlag == true && i == tips_index">
          <div style="color:#626262; font-size: small; text-align: left; padding-left: 20px; padding-right: 5px;" [innerHTML]="t.content"></div>
        </div>  
      </ion-list>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
