/** Ionic CSS Variables **/
:root {

  /** primary **/
  --ion-color-primary: #784212;
  --ion-color-primary-rgb: 120,66,18;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #6a3a10;
  --ion-color-primary-tint: #86552a;

  /** secondary **/
  --ion-color-secondary: #AF601A;
  --ion-color-secondary-rgb: 175,96,26;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #9a5417;
  --ion-color-secondary-tint: #b77031;

  /** tertiary **/
  --ion-color-tertiary: #E67E22;
  --ion-color-tertiary-rgb: 230,126,34;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #ca6f1e;
  --ion-color-tertiary-tint: #e98b38;

  /** success **/
  --ion-color-success: #2ECC71;
  --ion-color-success-rgb: 46,204,113;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28b463;
  --ion-color-success-tint: #43d17f;

  /** warning **/
  --ion-color-warning: #F1C40F;
  --ion-color-warning-rgb: 241,196,15;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #d4ac0d;
  --ion-color-warning-tint: #f2ca27;

  /** danger **/
  --ion-color-danger: #FF5733;
  --ion-color-danger-rgb: 255,87,51;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0,0,0;
  --ion-color-danger-shade: #e04d2d;
  --ion-color-danger-tint: #ff6847;

  /** dark **/
  --ion-color-dark: #BCAAA4;
  --ion-color-dark-rgb: 188,170,164;
  --ion-color-dark-contrast: #000000;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #a59690;
  --ion-color-dark-tint: #c3b3ad;

  /** medium **/
  --ion-color-medium: #D7CCC8;
  --ion-color-medium-rgb: 215,204,200;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #bdb4b0;
  --ion-color-medium-tint: #dbd1ce;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

}