<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>온라인상담신청</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-margin" [ngStyle]="{'background-image': 'url(' + top_image + ')', 'background-size': '100% auto',
                                        'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
    <div class="text-centered" style="height: 80px;">
      <br>
      <p class="title" style="color: #F1C40F; margin-top: 0px; margin-bottom: 0px;">온라인상담신청</p>
      <p class="text" style="color: #ffffff;  margin-top: 0px;">Online consultation</p>
    </div>
  </div>
  <p style="text-align: center; margin-bottom: 0px;">전국에서 가장 <span style="color:#0099ff; font-size: 12pt;">개인회생을 잘하는 백양</span></p>
  <p style="text-align: center; margin-top: 0px;">개인회생에 대해 상세하게 알려드립니다.</p>

  <div class="spacer" style="height: 5px;"></div>
  <h4 style="text-align: center; margin-bottom: 0px;">회생상담신청</h4>
  <p style="text-align: center; margin-top: 0px;">ONLINE CONSULT</p>

  <div class="outline-box" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
    <ion-item lines="none" class="outline-item">
      <ion-label style="color:#784212">이름<span style="color:#FF5733; font-size: 12pt;"> *</span></ion-label>
      <ion-input type="text" autofocus [(ngModel)]="name"></ion-input>
    </ion-item>
  </div>
  <div class="outline-box" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
    <ion-item lines="none" class="outline-item">
      <ion-label style="color:#784212">연락처<span style="color:#FF5733; font-size: 12pt;"> *</span></ion-label>
      <ion-input type="text" inputmode="tel" [(ngModel)]="phone"></ion-input>
    </ion-item>
  </div>
  <ion-row>
    <ion-col style="padding-bottom: 5px;">
      <div class="outline-box">
        <ion-item lines="none" class="outline-item">
          <ion-label style="color:#784212">채무금액 </ion-label>
          <ion-select [(ngModel)]="amount" placeholder="2000만원 이하" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedAmount($event)">
            <ion-select-option *ngFor="let a of amounts" [value]="a.value">{{a.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="padding-top: 0px; padding-bottom: 5px;">
      <div class="outline-box">
        <ion-item lines="none" class="outline-item">
          <ion-label style="color:#784212">거주지역 </ion-label>
          <ion-select [(ngModel)]="location" placeholder="서울" class="select-item" cancelText="취소" okText="선택" (ionChange)="selectedLocation($event)">
            <ion-select-option *ngFor="let l of locations" [value]="l.value">{{l.label}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
  <div class="outline-box" style="margin-top: 0px; margin-left: 5px; margin-right: 5px;">
    <ion-item lines="none" class="outline-item">
      <ion-label style="color:#784212">상담내용</ion-label>
      <ion-textarea rows="6" cols="20" [(ngModel)]="contents" type="text" placeholder="상담하실 내용을 상세히 적어주십시요." clearInput></ion-textarea>
    </ion-item>
  </div>

  <div class="spacer" style="height: 10px;"></div>
  <div class="outline-box" style="margin-top: 5px; margin-bottom: 5px; margin-left: 5px; margin-right: 5px;">
      <ion-textarea  rows="8" cols="30" readonly style="font-size:small;" value="
      백양법무사는 개인정보 보호법률(정보통신망법)의 '개인정보 취급방침'을 준수합니다.
      [개인정보 취급방침]
      ▣ 개인정보 수집 및 이용목적
      - 신청내역 확인(서비스 이용에 따른 본인식별, 본인의사 확인, 불만처리 등 의사소통 경로 확보).
      - 개인별 맞춤서비스 제공을 위한 정보 확인.
      - 기타 양질의 서비스 제공을 위한 정보 확인.
      ※ 신용카드 정보는 오직 결제에 대한 수단으로 사용되며, 카드 정보는  일체 수집하지 않음.

      ▣ 수집하는 개인정보 항목
      - 부모이름(본인이름), 인적사항, 생년월일, 이메일, 팩스, 주소, 전화번호, 핸드폰번호, 기타 선택항목

      ▣ 개인정보 보유 및 이용기간
      - 개인정보는 개인별 서비스 제공을 위하여 일정기간 보유하며, 서비스 제공이 만료되었다고 판단되면 즉시 파기합니다.
      단, 전자상거래법 소비자보호에 관한 법률 등 타 법률에 의해 보존할 필요성이 있는 경우에는 일정기간 보존합니다.
      가. 신청서에 관한 기록: 3년
      나. 대금결제 및 재화 등의 공급에 관한 기록: 3년
      다. 소비자불만 또는 분쟁처리에 관한 기록: 3년">
    </ion-textarea>
  </div>

  <ion-item lines="none">
    <ion-label>개인정보처리방침안내의 내용에 동의합니다.</ion-label>
    <ion-checkbox slot="start" [(ngModel)]="isAgreed"></ion-checkbox>
  </ion-item>
  <div style="margin-left: 5px; margin-right: 5px;">
    <ion-button expand="block" (click)="submitRequest()">
        <ion-icon name="checkbox-outline" slot="start"></ion-icon>
      자가진단신청하기
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
