.card-margin {
    margin-left: 5px; 
    margin-right: 5px; 
    margin-top: 5px; 
    margin-bottom: 5px;
    .text-centered {
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    font-size: 17px;
}
.text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.outline-box {
    background-color: #ffffff;
    border: 1px solid #784212;
    border-radius:3px;
    .outline-item {
        padding-left: 5px;
        .select-item {
            max-width: 100%;
        }
    }
}

.col-s3 {
    border: 1px solid #BCAAA4; 
    background-color: #D7CCC8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-s9 {
    border: 1px solid #BCAAA4; 
    margin-top: 0px;
    margin-bottom: 0px;
    height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.end-s3 {
    border: 1px solid #BCAAA4; 
    background-color: #D7CCC8;
    height: 142px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.end-s9 {
    border: 1px solid #BCAAA4; 
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.end-s12 {
    border: 1px solid #BCAAA4;
    height: 160px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
