<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color="secondary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            Navigate
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list *ngIf="loggedIn"> -->
        <ion-list>
          <ion-list-header>
            Service
          </ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/calculator')">
              <ion-icon slot="start" name="calculator" color="primary"></ion-icon>
              <ion-label>
                예상 변제금 계산기
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="navigate('/online-consult')">
              <ion-icon slot="start" name="clipboard" color="primary"></ion-icon>
              <ion-label>
                  온라인상담신청
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
