<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>희망케어시스템</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let vision of visions">
    <div class="card-margin" [ngStyle]="{'background-image': 'url(' + vision.img + ')', 'background-size': 'auto 100%', 'opacity':0.8,
                                         'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
      <div class="text-centered">
        <br><br>
        <p class="text" style="color: #ffffff;">{{vision.step}}</p>
        <p class="title" style="color: #F1C40F;">{{vision.title}}</p>
        <p class="subtitle" style="color: #66ff66;">{{vision.subtitle}}</p>
        <p class="text" style="color: #ffffff;">{{vision.description}}</p>
        <br>
      </div>
    </div>
  </div>
    
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
  
