<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>백양법무사 김형백사무소</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="swiper-container swiper1">
    <div class="swiper-wrapper">
      <ion-slide class="swiper-slide slide1" *ngFor="let image of images">
        <img [src]="image.img">
      </ion-slide>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-white swiper-pagination1"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </ion-slides>
                                              
  <div class="spacer" style="height: 10px;"></div>
  <div padding>
    <p>개인회생은 ‘ 또 한번 희망을 만들어 가는 과정’ 이라고 생각합니다.</p>
    <p>백양은 이러한 철학을 담아 <span style="color:#0099ff; font-size: 12pt;">‘희망 케어 시스템 (Hope Care System)’</span>안에서 고객과 가족분들의 삶, 미래, 행복에 대해 함께 고민합니다.</p>
    <p>고객이 처한 사항을 정확하게 판단하여 최선의 변제금을 산정하여 실현시키고 더 나아가 신뢰있는 사후관리까지 이 모든 과정에서 하나의 소중한 희망을 만들어 가고 있습니다.</p>
    <p>백양법무사 김형백사무소는 앞으로도 매 순간 신뢰에 바탕을 둔 진심을 담은 서비스로 고객님 곁에 함께 하겠습니다.</p>
  </div>

  <ion-item-group>
    <ion-item-divider color="dark">
      <ion-label><p><span style="font-size: 14pt;">백양의 약속</span></p></ion-label>
    </ion-item-divider>
  </ion-item-group>

  <ion-slides class="swiper-container swiper2" 
              [ngStyle]="{'background-image': 'url(' + promise_bg + ')', 'background-size': 'auto 100%', 'opacity':0.7,
                          'background-repeat': 'no-repeat',  'background-position': 'center center'}">
    <div class="swiper-wrapper">
      <ion-slide class="swiper-slide slide2" *ngFor="let promise of promises">
        <ion-card class="card-margin">
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="promise.img">
            </ion-avatar>
            <ion-label  text-wrap>
              <p class="subtitle" style="color: #ffffff;">{{promise.title}}</p>
              <p class="text" style="color: #ffffff;">{{promise.subtitle}}</p>
            </ion-label>
          </ion-item>
          <ion-card-content style="height: 170px; text-align: left; color: #ffffff;"> <!-- style="height: 150px;"  -->
            {{promise.description}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination2" style="padding-bottom: 10px;"></div>
  </ion-slides>

  <div class="spacer" style="height: 15px;"></div>
  <ion-item-group>
    <ion-item-divider color="dark">
      <ion-label><p><span style="font-size: 14pt;">위치</span></p></ion-label>
    </ion-item-divider>
  </ion-item-group>
  <div #mapCanvas class="map-canvas"></div>
  
  <div class="spacer" style="height: 15px;"></div>
  <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
  <ion-buttons>
    <ion-button slot="start" color="primary" fill="clear" size="small" style="padding-left: 0px; padding-right: 0px;" (click)="backyang()">사업자정보</ion-button>|
    <ion-button color="primary" fill="clear" size="small" style="padding-left: 0px; padding-right: 0px;" (click)="privacyPolicy()">개인정보 취급방침</ion-button>
  </ion-buttons>
  <div *ngIf="backYangFlag">
    <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
    <ion-grid>
      <ion-row style="height:25px;">
        <ion-col size="4" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;대표</p></ion-col>
        <ion-col size="8" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">김형백</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col size="4" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;주소</p></ion-col>
        <ion-col size="8" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">서울시 양천구 신월로 374, 503호</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col size="4" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;"></ion-col>
        <ion-col size="8" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">(신정동, 도림빌딩)</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col size="4" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;사업자번호</p></ion-col>
        <ion-col size="8" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">130-19-31922</p></ion-col>
      </ion-row>
      <ion-row style="height:25px;">
        <ion-col size="4" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">&nbsp;&nbsp;고객센터</p></ion-col>
        <ion-col size="8" style="font-size:small"><p align="left" style="color:#929292; margin-top:0px; margin-bottom:10px;">1566-2320</p></ion-col>
      </ion-row>
    </ion-grid>
    <div class="spacer" style="height: 20px;"></div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
      <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
      <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
      <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
      <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
