    .card-margin {
        margin-left: 5px; 
        margin-right: 5px; 
        margin-top: 5px; 
        margin-bottom: 5px;
    }

    .swiper-container swiper1 {
        width: 100%;
        height: 100%;
        background: #000;
      }

    .swiper-pagination swiper-pagination1 {
        padding: 3px;
        bottom: 0px;
        .swiper-pagination-bullet {
            background: #ffffff;
            box-shadow: 0px 1px grey;
            margin: 0 3px;
        }
    }
      
    .swiper-slide slide1 {
        font-size: 18px;
        color:#fff;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 20px 40px;
    }

    .swiper-slide .title {
        font-size: 30px;
        font-weight: bold;
    }
    .swiper-slide .subtitle {
        font-size: 21px;
    }
    .swiper-slide .text {
        font-size: 14px;
        max-width: 400px;
        line-height: 1.3;
    }


    .swiper-container swiper2 {
        width: 100%;
        height: auto;
    }

    .swiper-pagination swiper-pagination2 {
        padding: 3px;
        bottom: 0px;
        /*
        .swiper-pagination-bullet {
            background: #ffffff;
            box-shadow: 0px 1px grey;
            margin: 0 3px;
        }
        */
    }

    .swiper-slide slide2 {
        text-align: center;
        font-size: 18px;
        background: #fff;
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .map-canvas {
        height: 50%;
        width: 100%;
    }

    .show-map {
        opacity: 1;
    }