<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>개인회생 스토리</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [innerHTML]="story"></div>
</ion-content>
