<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>개인회생</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="category">
      <ion-segment-button *ngFor="let category of categories" value={{category.value}}>
        {{category.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="category">
    <div *ngSwitchCase="'advantage'">
      <h4 style="text-align: center;">개인회생장점</h4>
      <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
        <ion-row>
          <ion-col size="6" *ngFor="let ad of advantages" style="padding-left: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;">
            <ion-card class="card-margin">
              <ion-card-header style="padding-bottom: 5px; padding-top: 5px; background-color: #D7CCC8;">
                <ion-card-title style="color:#784212;">{{ad.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content style="height: 90px;">
                  <p>{{ad.description}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <h4 style="text-align: center;">개인회생과 워크아웃제도란?</h4>
      <div align="center">
        <img [src]="workout_cont_bg">
      </div>
      <div class="box-border" style="border: 2px solid #2ECC71;">
        <p style="color:#2ECC71"><span>"개인회생은 국가에서 지정한 가장 효율적이고 강력한 채무조정제도"</span></p>
        <p>신용회복과 달리 개인회생은 금융기관 채무를 모두 포함하여 진행이 가능하며, 주식, 도박, 사치 등으로 인하여 발생한 채무도 개인회생을 통하여 채무를 정리할 수 있습니다.</p>
      </div>
      <div class="box-border" style="border: 2px solid #FF5733;">
        <p style="color:#FF5733"><span>“워크아웃은 신용불량자 구제제도”</span></p>
        <p>워크아웃제도는 햇살론,새희망홀씨와 같은 정부기관보증상품은 대위변제가 일어나기까지 포함이 불가능 합니다.</p>
      </div>
      <h4 style="text-align: center;">개인회생 VS 워크아웃제도</h4>
      <ion-card class="card-margin">
          <p class="subtitle" style="background-color: #2ECC71; margin-top: 0px; margin-bottom: 0px;
                                     padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;">개인회생제도</p>
        <ion-card-content>
            <p>• 조세, 보증채무, 개인사채 등 모든 채무의 조정이 가능</p>
            <p>• 연체유무에 관계없이 신청가능</p>
            <p>• 경우에 따라 원금의 95% 까지도 감면 가능</p>
            <p>• 보건복지부공표 최저생계비의 150% 까지 주장 가능</p>
            <p>• 변제기간 3년~5년</p>
            <p>• 인가 후라도 소득이 감소되면 변제금 수정 가능</p>
            <p>• 채권자의 각종 추심으로 부터의 보호</p>
            <p>• 면책시 은행연합회의 연체관련 전산이력 삭제</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="card-margin">
        <p class="subtitle" style="background-color: #FF5733; margin-top: 0px; margin-bottom: 0px;
                                   padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px;">워크아웃제도</p>
        <ion-card-content>
            <p>• 신용회복지원협약에 가입한 금융기관들에 대한 채무만 가능</p>
            <p>• 채무불이행자만 신청가능</p>
            <p>• 변제기간 8년 ~ 10년</p>
            <p>• 협약금융기간의 사적 조정</p>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'qualification'">
      <h4 style="text-align: center;">개인회생 신청 자격</h4>
      <p style="margin-left: 10px; margin-right: 10px; text-align: center; font-weight: bold; color:#784212">
        <span>개인회생은 개인만이 이용할 수 있는 제도이기 때문에 조합이나 주식회사, 사단법인 등 법인은 이용할 수 없고, 채권자도 신청할 수 없습니다.</span></p>
      <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
        <ion-row>
          <ion-col size="3" *ngFor="let qa1 of qualifications1" style="padding-left: 0px;padding-bottom: 0px;padding-top: 0px;padding-right: 0px;">
            <ion-card class="card-margin" align="center"  style="height: 150px;">
              <img [src]="qa1.img">
              <p>{{qa1.description}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
        <ion-row>
          <ion-col size="12" *ngFor="let qa2 of qualifications2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;">
            <ion-card class="card-margin" color="medium">
              <p class="subtitle" style="padding-left: 5px; padding-right: 5px; color:#784212;">{{qa2.subtitle}}</p>
              <p class="text" style="padding-left: 5px; padding-right: 5px; color:#784212;">{{qa2.description}}</p>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'document'">
      <ion-card class="card-margin" *ngFor="let document of documents" >
        <p class="subtitle" style="padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px; margin-top: 0px; 
                                   color:#784212; background-color: #BCAAA4;">
          {{document.title}}</p>
        <div *ngFor="let dd of document.description" >
          <p class="text" style="padding-left: 5px; padding-right: 5px;">{{dd.desc}}</p>
        </div>
      </ion-card>
      <div class="box-border" style="border: 1px solid #784212;">
        <p>- 자동차등록원부는 해당사항이 없으시면 발급 되지 않습니다. <span style="color:#784212">그외 서류는 해당 사항이 없어도 모두 발급</span> 됩니다.</p>
        <p>- 도장은 부채증명원 발급시 필요한 것으로 인감증명서 등록 당시의 <span style="color:#784212">인감 도장으로 주셔야 진행</span>이 가능합니다.</p>
        <p>- <span style="color:#784212">모든 서류에 주민등록번호</span>가 다 나와야 합니다.</p>
        <p>- 배우자 (또는 부양가족)가 있다면 <span style="color:#784212">배우자분(또는 부양가족)분 서류도 모두 발급</span> 해 주세요.</p>
      </div>
    </div>

    <div *ngSwitchCase="'calculator'">
      <h4 style="text-align: center;">변제금이란?</h4>
      <p class="text" style="padding-left: 10px; padding-right: 10px;">기본적으로 생활에 필요한 금액을 제외하고, 실질적으로 사용할 수 있는 (가용) 금액을 뜻하며, 변제기간 동안 채무를 갚아나가는데 사용하게 됩니다.</p>
      <div align="center">
        <img [src]="tender_cont_img">
      </div>
      <p class="text" style="padding-left: 10px; padding-right: 10px;">개인회생 신청시 변제금액은 평균소득에서 생계비를 공제한 금액을 3년~5년 기간동안 변제합니다.</p>

      <div class="spacer" style="height: 10px;"></div>
      <h4 style="text-align: center;">변제금계산예시</h4>
      <p class="text" style="padding-left: 10px; padding-right: 10px;">가구 인원별 최저 생계비</p>
      <ion-grid style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px; padding-right: 0px;">
        <ion-row>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #BCAAA4;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">1인가구</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #BCAAA4;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">2인가구</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #AF601A;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">3인가구</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #BCAAA4;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">4인가구</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #BCAAA4;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">5인가구</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8; background-color: #BCAAA4;">
            <p style="text-align: center; color:#ffffff; font-size:small; font-weight:bold;">6인가구</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; font-size:small;">1,003,263</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; font-size:small;">1,708,258</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; color:#AF601A; font-size:small;">2,209,890</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; font-size:small;">2,711,521</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; font-size:small;">3,213,152</p>
          </ion-col>
          <ion-col size="2" style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; border: 1px solid #D7CCC8;">
            <p style="text-align: center; font-size:small;">3,714,784</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="box-border" style="border: 1px solid #784212;">
          <p style="font-size: 0.85em; margin-top: 5px; margin-bottom: 5px;">• 채무 : 5000만원</p>
          <p style="font-size: 0.85em; margin-top: 5px; margin-bottom: 5px;">• 월 실수령 급여 : 250만원</p>
          <p style="font-size: 0.85em; margin-top: 5px;">• 부양가족:본인 및 미성년 자녀 2인 (배우자가 소득이 없을 경우)</p>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="color:#784212">2,500,000(급여) - 2,209,890 (3인 가구 생계비) = 약 30만원 (월 변제금액)</p>
          <p>3년 이하 변제기간 동안 한 달에 약 30만원을 성실히 변제한 후 남은 채무 원금 탕감 (면책)</p>
          <p style="color:#784212">즉, 채무이자 100% 탕감, 채무원금 약 21%만 상환</p>
        </div>

        <div class="spacer" style="height: 10px;"></div>
        <h4 style="text-align: center;">변제계획안이란?</h4>
        <p class="text" style="padding-left: 10px; padding-right: 10px;">개인회생을진행하는 의뢰인 분이 앞서 계산한 변제금을 매월, 일정의 기간동안 납부하는 방법으로 채무를 변제하겠다는 계획을 말합니다.</p>
        <div class="card-margin" [ngStyle]="{'background-image': 'url(' + style_visual3_05_01 + ')', 'background-size': '100% auto',
                                              'background-repeat': 'no-repeat',  'background-position': 'center center'}"> 
          <div class="text-centered">
            <br>
            <p class="subtitle" style="color: #ffffff; margin-top: 0px; margin-bottom: 0px;">채권자 목록 및 변제 계획안을 포함한</p>
            <p class="subtitle" style="color: #ffffff; margin-top: 0px; margin-bottom: 0px;">개인회생준비서류들은 모두</p>
            <p class="subtitle" style="color: #ffffff; margin-top: 0px; margin-bottom: 0px;">법무사사무소에서 작성합니다.</p>
            <br>
          </div>
        </div>
        <div style="padding-left: 10px; padding-right: 10px;">
          <h4 style="text-align: center; color: #784212;">변제계획안 작성시 주의사항</h4>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="margin-top: 5px; margin-bottom: 5px;"><span style="color:#784212; font-weight: bold;">01. </span>변제기간은 3년~5년을 초과할 수 없음</p>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="margin-top: 5px; margin-bottom: 5px;"><span style="color:#784212; font-weight: bold;">02. </span>최초 변제금 납부는 접수일로부터 60~90일 이내</p>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="margin-top: 5px; margin-bottom: 5px;"><span style="color:#784212; font-weight: bold;">03. </span>급여 소득이 줄어들었을 시 변제계획안 수정가능</p>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="margin-top: 5px; margin-bottom: 5px;"><span style="color:#784212; font-weight: bold;">04. </span>보유하고 있는 <span style="color:#FF5733; font-weight: bold;">재산 </span>확인</p>
          <div class="spacer" style="height: 1px; background-color:#eeeeee"></div>
          <p style="text-align: center; color: #FF5733; padding-left: 10px; padding-right: 10px;">
            ※ 재산이란? 현재 현금화되어있는 소득이나 예금,적금 등의 비용뿐만 아니라 집, 자동차를 처분하였을 때 현금화 될 수 있는 부분으로 배우자의 재산 또한 개인회생 변제계획안을 작성할 때 같이 포함됩니다.</p>
        </div>
        <div class="box-border" style="border: 1px solid #784212; background-color:#D7CCC8;">
          <p class="subtitle" style="text-align: center; color: #784212; font-weight: bold;">개인회생 진행이 어려운 경우</p>
        </div>
        <div class="box-border" style="border: 1px solid #784212;">
          <div align="center">
            <img [src]="tender_mean_img" width="80%" hiegth="80%">
          </div>
          <p style="text-align: center; color: #784212; padding-left: 10px; padding-right: 10px;">
              보유하고있는 재산이 채무보다 많을 경우 개인회생 진행이 어렵습니다. 꼭, 본인과 배우자의 재산 부분의 현황을 확인한 후 개인회생을 진행해야 합니다.</p>
        </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button href="https://blog.naver.com/kingofloan"><img src="../../assets/image/fab05_blog.png"></ion-fab-button>
        <ion-fab-button href="https://nid.naver.com/nidlogin.login?svctype=64&url=https%3A%2F%2Ftalk.naver.com%2Fct%2FWC52PW%3Fnidref%3Dhttp%253A%252F%252Flawby.co.kr%252Fsub_1_01.php%23nafullscreen"><img src="../../assets/image/fab04_chat.png"></ion-fab-button>
        <ion-fab-button href="https://pf.kakao.com/_Zjfxcxl"><img src="../../assets/image/fab03_kakao.png"></ion-fab-button>
        <ion-fab-button (click)="openOnlineConsult()"><img src="../../assets/image/fab02_message.png"></ion-fab-button>
        <ion-fab-button (click)="openDialPopup()"><img src="../../assets/image/fab01_phone.png"></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
